{
  "port":     6667,
  "address":  "irc.freenode.net",
  "nick":     "ircnode_bot",
  "user":     "ircnode_bot",
  "chan":     "#bots",
  "realName": "Ircnode Bot",
  "waitTime": 3000,
  "prefix":   "!"
}
